section{
	font-family: calibri;
}

#msec{
	background-color: #e2eeeb;
	border: 1px solid black;
	height: 100%;
	display: flex;
	margin: 10px 10px 10px 10px;
	border-radius: 5px;
}

#fsec{
	border: 1px solid black;
	margin: 10px;
	width: 20%;
	border-radius: 5px;
}

#ssec{
	border: 1px solid black;
	margin: 10px;
	width: 80%;
	border-radius: 5px;
}

p{
	padding: 3%;
	text-align: center;
	margin: 15%;
	
}

img.icon{
	display: inline-block;
	width: 35px;
	height: 35px;
	margin: 10%;
}

img.favimg{
	height: auto;
	width: 70%;
	margin: auto;
	padding: 15px;
	display: block;
}

@media screen and (min-width: 320px) and (max-width: 480px){
	#msec{
		display: inline-block;
	}

	#fsec{
		width: 95%;
		margin-top: 5%;
	}

	#ssec{
		width: 95%;
		margin-top: 5%;
	}

	p{
		text-align: center;
		margin: 15%;
	}

	img.icon{
		display: inline-block;
		margin: 10%;
	}
}

@media screen and (min-width: 481px) and (max-width: 720px){
	#msec{
		display: inline-block;
	}

	#fsec{
		width: 95%;
		margin-top: 5%;
	}

	#ssec{
		width: 95%;
		margin-top: 5%;
	}

	p{
		text-align: center;
		margin: 15%;
	}

	img.icon{
		display: inline-block;
		margin: 10%;
	}
}